body{
  height: 3000px;
}

a{
  text-decoration: none;
}

.menu{
  padding:0px;
  width:100%;
  list-style: none;
}

.menu>li{
  font-family: 메이플스토리;
  font-size: 3rem;
  display: flex;
  margin:20px;
  justify-content: space-evenly;
}

@media all and (max-width:1000px)
{
  .menu{
    display:none;
  }
}