body{
  height: 3000px;
}

ul{
  list-style: none;
  padding:0px;
  min-height:auto;
}

a{
  text-decoration: none;
  color : white;
}

@media all and (max-width:1000px)
{
  .menu,.submenu{
    display:none;
  }
}