.second-banner{}

.second-banner>.inner{}

.second-banner>.inner>.swiper{
  height: 420px;
}

.second-banner>.inner>.swiper>.swiper-wrapper{}

.second-banner>.inner>.swiper>.swiper-wrapper>.swiper-slide{
  width: 300px;
  border: 1px solid gray;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.5s;
  transform: scale(0.8);
  background-color: orange;
  opacity: 0.5;
}

.second-banner>.inner>.swiper>.swiper-wrapper>.swiper-slide-active{
  background-color: red;
  opacity: 1;
  transform: scale(1);
}

.second-banner>.inner>.swiper>.swiper-pagination{}

.second-banner>.inner>.swiper>.swiper-button-prev{}

.second-banner>.inner>.swiper>.swiper-button-next{}

.second-banner>.inner>.swiper>.swiper-scrollbar{}
