.parent{
  width: 500px;
  height: 500px;
  background: orange;

  position:relative;
  left:100px;
  top:50px;
  overflow:auto;
}

.child1, .child2, .child3{
  width: 150px;
  height: 150px;
  border:5px dotted yellow;
  background-color: royalblue;
  box-sizing: border-box;
}

.child1{
  position: relative;
  left:50px;
  top:-50px;
  /* z-index: 1; */
}

.child2{
  position: relative;
  z-index: 1;
}

.child3{

}